* {
  fill: none;
  stroke-width: 2;
}

.red {
  stroke: #f00;
}

.yellow {
  stroke: #ff0;
}

.lime {
  stroke: #0f0;
}

.cyan {
  stroke: #0ff;
}

.blue {
  stroke: #00f;
}

.magenta {
  stroke: #f0f;
}

.trans:hover {
  stroke: #fff !important;
  fill: #000 !important;
  stroke-opacity: 0.5;
  fill-opacity: 0.5;
}
