.home-hero .image {
  width: 200px;
  height: 200px;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

.content img {
  border-radius: 10px;
}

.nav-dropdown-link-item .icon {
  display: none;
}

:root {
  /* --c-brand: #646cff;
  --c-brand-light: #747bff; */
  --c-brand: #42b983;
  --c-brand-light: #42b983;
}

.custom-block {}

.custom-block::before {
  position: absolute;
  margin-left: -40px;
  margin-top: 15px;
}

.custom-block.info {
  border-color: #007bff;
}
.custom-block.info::before {
  content: url('/info.svg');
}

.custom-block.tip {
  border-color: var(--c-brand-light);
}
.custom-block.tip::before {
  content: url('/bulb.svg');
}

.custom-block.warning {
  border-color: #f4cd00;
}
.custom-block.warning::before {
  content: url('/danger.svg');
}

.custom-block.danger {
  border-color: #f66;
}
.custom-block.danger::before {
  content: url('/stop.svg');
}

.DocSearch {
  --docsearch-primary-color: var(--c-brand) !important;
}

#play-vite-audio {
  padding: 0;
  margin-left: 5px;
  display: inline-flex;
}

#play-vite-audio img {
  opacity: 0.8;
}

/* docs-cn specific */
.cn-footnote {
  margin-top: 20px;
}

.cn-footnote .title {
  display: block;
  margin-bottom: 10px;
}

.release-tag {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
  margin-left: 6px;
  background: var(--c-brand);
  color: white;
  border-radius: 10px;
}

#wwads-container {
  position: relative;
  float: right;
  z-index: 9;
  margin: 0 0 16px 16px;
}

#wwads-container .wwads-text {
  font-size: 12px;
}

.page .container {
  max-width: 1000px !important;
}

.page .container .content {
  clear: none !important;
}

@media (min-width: 1368px) {
  #wwads-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin: 0;
  }
}
