@use "sass:math";

// -----  容器类  ----- //

.page-ctn {
  @extend .flex-col-hc;
  @extend .full-page;
}

.full-ctn {
  width: 100%;
  height: 100%;
  // background: #ffc;
}

.full-page {
  width: 100vw;
  // min-height: 100vh;
  height: 100%;
  // background: #ffc;
}

.w-100p,
.row-100p {
  width: 100%;
}
.h-100p,
.col-100p {
  height: 100%;
}

.w-100v,
.row-100v {
  width: 100vw;
}
.h-100v,
.col-100v {
  height: 100vh;
}

// -----  布局  ----- //

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.page-content {
  padding: 15px 20px;
  background-color: #fff;
  position: relative;
}
.page-title {
  width: 100%;
  font-size: 16px;
  color: #000;
  padding-left: 12px;
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    top: 4px;
    width: 4px;
    bottom: 4px;
    content: '';
    background-color: $uni-color-primary;
  }
}

// -----  视区划分为 24 份  ----- //栅格
// $grids: 24;
// $step: (100 / 24);
$step: math.div(100, 24);
$i: 1;

@while $i <= 24 {
  .col-#{$i} {
    width: $i * $step * 1vw!important;
  }
  .row-#{$i} {
    height: $i * $step * 1vh!important;
  }
  $i: $i + 1;
}

// -----  定位  ----- //

.por {
  position: relative;
}
.poa {
  position: absolute;
}
.pof {
  position: fixed;
}

.poa-rt {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
}

.pin-rt {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99;
}

.ellipsis {
  lines: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
